<?xml version="1.0"?>

<library path="lib/libpackml_gui">
  <class name="packml_gui/DashboardPanel" type="packml_gui::DashboardPanel" base_class_type="rviz::Panel">
    <description>
      PackML Analytics Dashboard GUI
    </description>
  </class>
  <class name="packml_gui/NavigationPanel" type="packml_gui::NavigationPanel" base_class_type="rviz::Panel">
    <description>
      PackML State Machine Navigation GUI
    </description>
  </class>
</library>
